services:
  db:
    image: postgres:16
    container_name: game_db
    environment:
      POSTGRES_DB: game
      POSTGRES_USER: gameuser
      POSTGRES_PASSWORD: gamepass
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: